@model CRM_Leads_MVC.Models.LeadsEntity

@{
    ViewData["Title"] = "DeleteLead";
}


@Html.Raw(TempData["InsertErrorMsg"])


<div class="container">
    <div class="col-md-10 border-1">
        <form asp-action="DeleteLead">
            <input asp-for="Id" hidden />

            <h4>Delete Lead Details</h4><hr />

            <div class="row">
                <div class="col-3">
                    <label asp-for="LeadDate" class="control-label"></label>
                    <input asp-for="LeadDate" class="form-control" readonly/>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>

                <div class="col-6">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" readonly />
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" readonly />
                </div>

                <div class="col-6">
                    <label asp-for="LeadSource" class="control-label"></label>
                    <input asp-for="LeadSource" class="form-control" readonly />
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <label asp-for="LeadStatus" class="control-label"></label>
                    <input asp-for="LeadStatus" class="form-control" readonly />
                </div>

                <div class="col-6">
                    <label asp-for="NextFollowUpDate" class="control-label"></label>
                    <input asp-for="NextFollowUpDate" class="form-control" readonly />
                </div>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Delete Lead" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
